<div class="distance">
<h2 class="basic-title">GET request from API using service and Observables with Change Detection </h2>

<h4 class="basic-subtitle">Retrieving informations from a covid API and refreshing informations using the onPush changes. This mimic a live reload server-side template using async observables and RxJs
</h4>

<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Async Observables - GET
    </mat-panel-title>
    <mat-panel-description>
    All countries with covid stats
    </mat-panel-description>
  </mat-expansion-panel-header>

      <div class="container">

  <div class="row">


    <div *ngFor="let i = index; let stats of covidStats$ | async" class="col-12 col-sm-12 col-md-6 col-lg-4">
       <mat-card>

                    <div class="head">
                      <mat-card-title class="loff">
                      {{stats.name}}

                      <img class="danger" *ngIf="stats.latest_data.deaths > 1000" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Exclam_icon.svg/1200px-Exclam_icon.svg.png">

                      <img class="good" *ngIf="stats.latest_data.deaths < 1000" src="assets/good.png">
                      </mat-card-title>

                     <div class="date">
                       Last update: <p class="strong">{{stats.updated_at}}</p>
                     </div>


                      <mat-card-subtitle class="universe">
                        <div class="classify">
                          <div class="container">
                            <div class="new">
                               <h5 class="yellow">Confirmed:</h5><p class="don">{{stats.latest_data.confirmed}}</p>
                            </div>
                            <div class="new">
                                <h5 class="green">Recovered:</h5> <p class="don">{{stats.latest_data.recovered}}</p>
                            </div>
                            <div class="new">
                              <h5 class="red">Deaths:</h5><p class="don">{{stats.latest_data.deaths}}</p>
                            </div>
                            <div class="new">
                               <h5 class="custom">Population:</h5><p class="don">{{stats.population}}</p>
                            </div>

                          </div>

                        </div>


                      </mat-card-subtitle>



                      <div class="updated">

                      </div>
                    </div>


                  </mat-card>

    </div>

  </div>

  </div>
</mat-expansion-panel>
